
/* Headings - font-family: 'Unica One', cursive;  */
/* Text - font-family: 'Vollkorn', serif; */


/*** Main Styles **/

body {
    text-align: center;
}

h1, h2, h3, h4, .footer-item {
    font-family: 'Unica One', cursive;
}
p, .main-purpose {
    font-family: 'Vollkorn', serif;
}

h1 {
    font-size: 2.369em;
}
h2 {
    font-size: 1.777em;
}
h3 {
    font-size: 1.333em;
}
p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

/* NAVIGATION */

nav {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}

.nav-item {
    flex-grow: 1;
}


/* FOOTER */

.footer {
    display: flex;
}

/*** Small Media Query **/
 @media (max-width: 599px) {
     .main-purpose {
         width: 70%;
         margin: auto;
         margin-top: 50px;
         margin-bottom: 50px;
         line-height: 1.8em;
     }

     .small {
         width: 100%;
         height: 25%;
         margin: auto;
         padding: 0;
     }

     .main-image {
         margin-top: 50px;
     }

     /*Navigation*/

     nav {
         flex-direction: column;
         width: 90%;
         justify-content: center;
         align-content: center;
     }

     .nav-item {
         background-color: lightgray;
         padding: 10px;
         border-radius: 15px;
         margin: auto;
         margin-top: 10px;
         margin-bottom: 10px;
         width: 60%;
     }

     .nav-item a {
         color: #262626;
         font-size: .75em;
     }

     /*Footer*/
     .footer {
         flex-direction: row;
         margin-top: 20px;
         margin-bottom: 30px;
     }

    .footer-item {
        flex-grow: 1;
        margin: auto;
        color: #262626;
    }

    p {
        width: 90%;
        margin: auto;
    }

    .about-source {
        margin-top: 10px;
        margin-bottom: 50px;
    }

 }


/*** Medium Media Query **/
@media (max-width: 899px) {}


/*** Large Media Query **/

@media (min-width: 1199px) {}