
/* Headings - font-family: 'Unica One', cursive;  */
/* Text - font-family: 'Vollkorn', serif; */


/*** Main Styles **/

body {
    text-align: center;
}

h1, h2, h3, h4, .footer-item {
    font-family: 'Unica One', cursive;
}
p, .main-purpose, .title {
    font-family: 'Vollkorn', serif;
}

h1 {
    font-size: 2.369em;
}
h2 {
    font-size: 1.777em;
}
h3 {
    font-size: 1.333em;
}
p {
    font-size: 1em;
}

a {
    text-decoration: none;
}


a:visited {
    color: #262626;
}

a:focus,
a:hover {
    color: #d14108;
}

.header-informational,
.header-food,
.header-form {
    background-color: #ddd;
}

/* NAVIGATION */


nav {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}

/* FOOTER */

.footer {
    display: flex;
    border-top: 1px #262626 solid;
    padding-top: 25px;
}

.footer-item {
    flex-grow: 1;
}

.image,
.about-image {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
}

/* FORMS */
.submit-btn {
    margin: auto;
    text-align: center;
    background-color: goldenrod;
    color: #262626;
    font-family: 'Unica One', cursive;
    font-size: 1.333em;
    border-radius: 10px;
}

.header {
    background: ;
}

.contact-info {
    margin: 30px auto 40px auto;
}




/*** Small Media Query **/
 @media (max-width: 599px) {

     .main-logo {
         width: 100%;
         height: auto;
         margin: auto;
         margin-top: 50px;
         margin-bottom: 50px;
     }

     .main-purpose {
         width: 70%;
         margin: auto;
         margin-bottom: 50px;
         line-height: 1.8em;
     }

     .main-image {
         margin-top: 50px;
     }

     /*Navigation*/

     nav {
         flex-direction: column;
         width: 90%;
         justify-content: center;
         align-content: center;
         margin-bottom: 50px;
     }

     .nav-item {
         background-color: lightgray;
         padding: 10px;
         border-radius: 15px;
         margin: auto;
         margin-top: 10px;
         margin-bottom: 10px;
         width: 60%;
     }

     .nav-item a {
         color: #262626;
         font-size: .75em;
     }

     /*Footer*/
     .footer {
         flex-direction: row;
         margin-top: 20px;
         margin-bottom: 30px;
         background-image: ;
     }

    .footer-item {
        flex-grow: 1;
        margin: auto;
        color: #262626;
    }

    p {
        width: 90%;
        margin: auto;
    }

     /* About - Learn More */

     .about {
         margin-top: 75px;
         margin-bottom: 75px;
     }

    .source-description {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .about h3{
        margin-top: 40px;
    }

    .about p {
        margin-bottom: 40px;
    }

    .header-informational,
    .header-food,
    .header-form {
        padding-top: 10px;
        padding-bottom: 10px;
    }

     /* Food Menu */

     .header-food {
         margin-top: 75px;
         margin-bottom: 0;
     }

     /* Forms */

     .hours {
         border-top: 1px #262626 dashed;
         width: 80%;
         margin: auto;
     }

     .form-contact,
     .form-reservation {
         width: 80%;
         margin: auto;
         margin-top: 50px;
         margin-bottom: 50px;
     }

     input {
         font-size: 1.333em;
         border-radius: 5px;
         padding: 5px;

     }

     .title {
         float: left;
         width: 95%;
         text-align: left;
         padding-right: 10px;
         margin-top: 5px;
         margin-bottom: 5px;
         color: #262626;
         font-family: 'Vollkorn', serif;
     }

     .submit-btn {
         width: 50%;
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .comment-placeholder {
         color: gray;
         font-size: 1em;
         border-radius: 5px;
     }

     .reservation,
     .contact-us {
         margin: auto;
     }
 }


/*** Medium Media Query **/
@media (min-width: 600px) {

    .main-logo {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }

    .image-div {
        margin-bottom: 15px;
    }

    /* Navigation */
    .main-nav {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: auto;
    }

    .nav-item {
        flex-grow: 1;
        border-radius: 5px;
        margin-left: 25px;
        margin-right: 25px;
    }

    /* Home Page */

    .main-purpose {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* About */
    .header-informational,
    .header-form {
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 10px;
    }

    /* Food Menu */

    .header-food {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 75px;
        margin-bottom: 0;
    }

    /* Contact Forms */

    .hours {
        border-top: 1px #262626 dashed;
        width: 40%;
        margin: auto;
    }


    .form-contact,
    .form-reservation {
        width: 50%;
        margin: auto;
    }

    .contact-us,
    .reservation {
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90%;
        text-align: left;
    }

    .submit-btn {
        width: 30%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    input,
    textarea {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .comment-placeholder {
        color: gray;
        font-size: 1em;
        width: 200px;
    }

    /* Footer */

    .footer {
        margin-top: 75px;
    }

}


/*** Large Media Query **/

@media (min-width: 900px) {

    .main-logo {
        width: 70%;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .main-nav {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* Images */

   .image-div {
       width: 80%;
       height: 300px;
       margin: 0 auto 30px auto;
       overflow: hidden;
       border-radius: 5px;
   }

    .image,
    .about-image {
        margin: -75px;
    }



    /* Navigation */

    .header-food,
    .header-informational {
        width: 80%;
        margin: auto;
    }

    .header-informational {
        border-radius: 5px;
    }

    .header-food {
        border-radius: 5px 5px 0 0;
    }
    /* Forms */

    .form-contact,
    .form-reservation {
        width: 45%;
        margin: auto;
        margin-bottom: 30px;
    }

    .title {
        width: 75%;
    }

    .header-form {
        width: 80%;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 30px;
    }


    /* Footer */
    .footer {
        width: 80%;
        margin: auto;
    }


}

/*** Extra Large Media Query **/
@media (min-width: 1200px) {

    .image-div,
    .header-food,
    p {
        width: 70%;
    }

    .image {
        margin: -150px;
    }




}